# kontrolliert, welche Dateien nicht ins Repository genommen werden
build/
.idea/
.gradle/
**/.DS_store
*.class
*.jar
*.log

# Highscores sollten nicht auf dem Repository gespeichert werden
**/HighScores.ssv