.menu-button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
    -fx-font-size: 14pt;
    -fx-font-family: "Arial";
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
}

.menu-button:hover {
    -fx-background-color: #45a049; /* Darker Green */
}

.menu-button:pressed {
    -fx-background-color: #4CAF50; /* Green */
    -fx-background-insets: 0 1 1 0;
    -fx-padding: 11px 19px 9px 21px;

}
