.menu-button {
    -fx-background-color: #654321; /* Green */
    -fx-text-fill: white;
    -fx-border-color: #16512c;
    -fx-border-radius: 2px;
    -fx-font-family: "Arial";
    -fx-background-radius: 2px;
}

.menu-button:hover {
    -fx-background-color: #16512c; /* Darker Green */
}

.menu-button:pressed {
    -fx-background-color: #1b6538; /* Green */
    -fx-background-insets: 0 0 1 0;

}
